/* universal styles */

html {
  font-size: 16px;
}

div {
  border: 1px solid red;
}

h2 {
  margin: 0;
}

@media only screen and (max-width: 860px){
  h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 730px){
  h2 {
    font-size: 1.25rem;
  }
}

.container {
  max-width: 960px
}

/* Calculator Section */

.calculator {
  padding: 4rem;
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 7px 7px 10px gray;
}

.calculator div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  padding: 1rem;
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 7px 7px 10px gray;
}

.question, .response {
  height: 234px;
}

.response {
  position: relative;
  background-image: url('../imgs/pencil-vector.png');
  background-repeat: no-repeat;
  background-position: center 5px;
  background-size: 35%;
}

input {
  text-align: right;
}

.fa-percent {
  margin-left: 1rem;
}

.fa-usd {
  margin-right: 1rem;
}
